body, #mainWrapper {
    height: 70%;
    background-color: rgb(245, 245, 245);
}

body, .form-control {
    font-size: 12px !important;
}
.logo-img{
    position: absolute;
    width: 500px;
}
.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.formcontainer {
    background-color: #DAE8E8;
    padding: 20px;
}

.tablecontainer {
    padding-left: 20px;
}

.generic-container {
    margin-top: 26px;

}



.menu-container {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 4px 9px rgba(87, 84, 85, 0.62);
    font-family: 'Poppins', sans-serif;
    padding: 17px;
    margin-bottom: 35px;

}

.menu-container a {
    color: #000;

}
.menu-container .tablecontainer th{
    border-top: none !important;
}
.menu-container .tablecontainer tr td {
    border-top: none !important;
}

.menu-container .goto-course {
    color: #ff7544;
}

.goTeacherButton {
    float: right;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 9px;
    background-color: #ff7544;
    color: white;
}

.lead {
    text-decoration: underline;
    text-decoration-color: #ff7544;

}


.custom-width {
    width: 80px !important;
}

/*editor page*/
.explorer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    /*box-shadow: 0 0 30px black;*/
    padding-left: 0px;
    padding-top: 0px;
}

body {
    overflow-x: hidden;
}

header .site-title {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 19px;

}

header .site-title span {

    display: table-cell;
    vertical-align: middle;
    font-size: 56px;
    color: #3f3b3c;
    font-family: 'Poppins', sans-serif;
    padding-left: 7%;

}

header h1 {
    display: inline;
    font-size: 55px;
    padding: 69px;

}

/*body*/
.menu-container .achievement-congrats{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;

}
.menu-container .achievement-done{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;

}

.menu-container .achievement-hint{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
}
.menu-container .achieve-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

footer .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f3b3c;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}

footer a {
    color: white;
}



.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    border-radius: 16px;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position:relative;
    z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/
@media only screen and (max-width: 768px) {
    ul.gallery {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
}