.ace_editor {
    height: 400px;
}

.ace_aHighLine {
    display: none;
}

.ace_aChangedLine {
    display: none;
}

.ace_aLine {
    display: none;
}

.ace_aHighComment {
    display: none;
}

.ace_aTopicLine {
    display: none;
}

.topicLine:before {
    content: '';
    background: url(../img/next.svg);
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -39px;
    margin: 0px;
}

/*post renderClasses*/

.ace_layer {
    pointer-events: all !important;
}

.ace_content {
    width: 100% !important;
}

.ace_layer.ace_text-layer {
    z-index: 50 !important;
    overflow: visible !important;

}

.editor.ng-pristine.ng-untouched.ng-valid.ace_editor.ace-xcode {
    overflow: visible;
}

.ace_scroller {
    overflow: visible !important;

}

.newLine {
    background-color: #00800040;
    border-radius: 50px 50px 50px 50px;
}

.highTextComment {
    visibility: hidden;
    background: #ffc107;
    position: absolute;
    border-radius: 15px 15px 15px 0px;
    padding: 10px;
    box-shadow: 3px -2px 1px 0px rgba(0, 0, 0, 0.5);
    color: #000 !important;
}

.highText {
    border-bottom: 2px solid #ff7544;
}

.highText:hover {
    border-bottom: 2px solid yellow;
    visibility: visible;
}

.highText:hover .highTextComment {
    visibility: visible;
}

.project-editor {
    border-radius: 15px;
    padding: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 4px 9px rgba(87, 84, 85, 0.62);
    margin-bottom: 35px;
}

.focused-file {
    background-color: #e8e8e8;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 12px 12px 0 0;
}

.focused-file span {
    font-weight: bold;
}

.focus-message {
    color: #e65269;
    float: right;
}

.focus-message .focus-message-path {
    font-weight: bold
}
.focus-message img {
    padding-bottom: 3px;
}

.html-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.orange-link {
    color: #ff7544;
}

.orange-button {
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 9px;
    background-color: #ff7544;
    color: white;
}

.ace_scrollbar-h {
    display: none;
}

.result-text {
    white-space: pre-wrap;
}

.error-response {
    background: #fff1f1;
    border-radius: 11px;
    padding: 10px;
    border: 2px #e78c8c solid;
}

.error-response-icon {
    position: absolute;
    right: -121px;
    margin-top: -123px;
    text-align: center;
}

.error-response-icon p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #d90123;
    font-size: 16px;
}

.success-response {
    background: #deffc6;
    border-radius: 11px;
    padding: 10px;
    border: 2px #92dd5a solid;
}

.success-response-icon {
    position: absolute;
    right: -100px;
    margin-top: -79px;
    text-align: center;
}

.success-response-icon p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #92dd5a;
    font-size: 16px;
}