<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../../resources/css/editor.css">

    <meta charset="UTF-8">
    <title>Editor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body ng-app="app" ng-controller="controller">

    <p id="myParagraph"></p>
    <input id="myInput" type="text">
    <button onclick="addText(myInput.value)">Click</button>
    <button onclick="connectDisconect()">disconnect</button>

<h3>Heading</h3>

    <button ng-click="calculateQuantity()">Calculate</button>

    <div id="editorWraper">
    <editor-bind></editor-bind>
</div>

<br/>
{{code}}
<hr/>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script language="javascript" src="../../resources/angular/angular.min.js"></script>
<script language="javascript" src="../../resources/ace-builds/src-noconflict/ace.js"></script>
<script language="javascript" src="../../resources/ace-builds/src-noconflict/ext-language_tools.js"></script>
<script language="javascript" src="../../resources/ace-builds/src-noconflict/mode-snippets.js"></script>
<script language="javascript" src="../../resources/ace-builds/src-noconflict/snippets/javascript.js"></script>
<script language="javascript" src="../../resources/angular-ui-ace/ui-ace.js"></script>
<script language="javascript">
    var app = angular.module("app", ['ui.ace']);

    app.directive('editorBind', [function () {
        return {
            template: '<div id="editorWindow" class="editorWindow" >' + '<div class="editor" ui-ace="{ mode: \'javassistant\', theme: \'xcode\',onLoad:load }" ng-model="code">' + '</div>',
            link: function (scope, elem, attrs) {



                bindAllElements(elem);

            },
        }
    }]);

    app.controller("controller", ["$scope", '$document', function ($scope, $document) {

        var langTools = ace.require("ace/ext/language_tools");

        $scope.code = "class HelloWorld {\n" +
            "    public static void main(String[] args) aHighTex.args1/aHighTex{aChangedLine2/aChangedLine\n" +
            "        System.out.println(\"Hello World!\");aHighLine.1/aHighLine{aChangedLine1/aChangedLine\n" +
            "assistantPopUp some code/assistantPopUp" +
            "    }\n" +
            "}";
        // var editor = ace.edit("anEditor");
        // editor.renderer.on('afterRender', function() {
        //     let config = editor.renderer.layerConfig;
        //     console.log("afterRender triggered " + JSON.stringify(config));
        // });
        $scope.calculateQuantity = function() {
            $scope.code = "lolo";
        };



        $scope.load = function (_editor) {
            _editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
        };
    }]);

    function bindAllElements(elem) {
        elem.ready(function () {





                // elem.on('click', function () {

                // function searchEditor() {
                //     var langTools = ace.require("ace/ext/*");
                //     ace.require("ace/mode/java");
                //     var lines = angular.element(document.getElementsByClassName('ace_text-layer')).children();
                //     console.log(lines);
                //
                //
                //     for (var i = 0; i < lines.length; i++) {
                //
                //         var eachLine = angular.element(lines[i]);
                //         // eachLine.innerText = 'ololooo';
                //         eachLine.text('llalalal');
                //         eachLine.addClass("eachLine");
                //
                //     }
                //
                // }
                //
                // searchEditor();
                // })
            }
        )

    }
</script>
<script type="text/javascript">
    let arr = [1, 2, 3];
    myParagraph.innerHTML = arr
    let loadParagraph = () => myParagraph.innerHTML = arr;
    addText = (val) => {
        arr.push(val)
        loadParagraph()
    }

    var targetNode = document.getElementById('editorWraper');
    console.log(targetNode);
    var config = { /*attributes: true,*/ childList: true,  /*characterData: true ,*/ subtree: true};
    var callback = function(val) {
        // if(val.target != div.ace_cursor){
        //
        // }
        console.log(val);
        // for (let eachVal of val) {
        //     console.log(eachVal.target.classList.contains());
        // }
        // console.log(val.get(0));
    };
    var observer = new MutationObserver(callback);
    observer.observe(targetNode, config);

    connectDisconect = () => {
        observer.disconnect()
    }
</script>
</body>
</html>