<div class="generic-container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="menu-container">
                <p class="achievement-congrats">Congratulations!!</p>
                <p class="achievement-done">You have done the Track</p>
                <img class="achieve-img" src="../../../resources/img/achieve.png">
                <p class="achievement-hint">Stay productive</p>
            </div>
        </div>
    </div>


</div>