<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">List of Tracks</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in trackCtrl.tracks">

                <td>{{track.id}}</td>
                <td>{{track.name}}</td>
                <td>
                    <a class="goto-course" ui-sref="firstLesson({trackId:track.id, lessonIndex:0, nextLessonType:track.firstLessonType, stepIndex: 0 })" >
                        Go to Course >
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
