<div class="generic-container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="menu-container">
                <h2>Choose your way</h2>
                <div class="panel panel-default">
                    <button ui-sref="teacher()" type="button" class=" goTeacherButton btn">Go to teacher ></button>
                    <div class="panel-heading"><span class="lead">All Languages</span></div>
                    <div class="tablecontainer">
                        <ul>
                            <li ng-repeat="language in langCtrl.languages">
                                <a ui-sref="language.track({languageId:language.id})">
                                    {{language.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ui-view></div>
            </div>
        </div>
    </div>


</div>