<div class="generic-container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="menu-container">

                <div class="panel-heading"><span class="lead">Info Lesson</span></div>
                <info-explication></info-explication>
                <div class="row">
                    <div class="col-4">
                        <button type="button" ng-if="lessonDisplay" class="btn orange-button" ng-if="lessonDisplay"
                                ui-sref="firstLesson({trackId:infoCtrl.InfoLessonDTO.trackId, lessonIndex: 1 + infoCtrl.InfoLessonDTO.lessonIndex , nextLessonType:infoCtrl.InfoLessonDTO.nextLessonType, stepIndex: 0 })">
                            Next Lesson
                        </button>
                    </div>

                    <div class="col-4">
                        <button type="button" ng-if="!lessonDisplay" class="btn orange-button"
                                style="text-align: center;"
                                ui-sref="achievement">
                            Finish Track
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>