<div class="generic-container">


    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="project-editor">
                <div class="row">
                    <div class="col-3 explorer"
                         data-angular-treeview="true"
                         data-tree-id="tree01"
                         data-tree-model="roleList"
                         data-node-id="roleId"
                         data-node-label="roleName"
                         data-node-children="children">>
                    </div>

                    <div class="col-9">
                        <div class="html-text">

                            {{stepLine.htmlText}}
                        </div>


                        <div class="focused-file">
                            Editor : <span>{{focusedFile}}</span>
                        </div>

                        <span class="focus-message" ng-if="focusMessage != undefined">
                            <img src="../../../resources/img/exclamation.png">
                            Next Step changes are related to file : <span class="focus-message-path">{{focusMessage}}</span></span>

                        <editor-bind></editor-bind>

                        <br/>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" ng-if="stepLineDisplay|| stepDisplay || lessonDisplay "
                                        class="btn orange-button" ng-click="nextCustomStep()">
                                    Next Step
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" ng-if="!lessonDisplay" class="btn orange-button"
                                        style="text-align: center;"
                                        ui-sref="achievement">
                                    Finish Track
                                </button>
                            </div>
                        </div>
                        <br/>
                        <hr/>

                        <div class="row">


                            <a ng-if="stepDisplay" class="col-6 orange-link" style="text-align: center;"
                               ui-sref="firstLesson({trackId:projCtrl.ProjectLessonDTO.trackId, lessonIndex:projCtrl.ProjectLessonDTO.lessonIndex, nextLessonType:'PROJECT', stepIndex: 1 + projCtrl.ProjectLessonDTO.stepIndex})">
                                Go to Next Project State
                            </a>

                            <a ng-if="lessonDisplay" class="col-6 orange-link" style="text-align: center;"
                               ui-sref="firstLesson({trackId:projCtrl.ProjectLessonDTO.trackId, lessonIndex: 1 + projCtrl.ProjectLessonDTO.lessonIndex , nextLessonType:projCtrl.ProjectLessonDTO.nextLessonType, stepIndex: 0 })">
                                Go to Next Lesson
                            </a>

                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
