<div class="generic-container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="menu-container">
                <h2>Upload a new Project</h2>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="form-group">
                        <div class="panel-heading"><span class="lead">All Languages</span></div>


                        <select ng-model="selectedLang" ng-options="lang.name for lang in allLanguages"></select>
                        <!--<h1>You selected: {{selectedLang}}</h1>-->

                        <div>
                            <p>Type a Project Name</p>
                            <input placeholder="yourNewTrackName" type="text" size="40" id="MyField"
                                   ng-model="projectName"
                                   required="true"/>

                        </div>

                        <input type="file" nv-file-select uploader="uploader"/><br/>
                        <ul>
                            <li ng-repeat="item in uploader.queue">
                                Name: <span ng-bind="item.file.name"></span><br/>
                                url: <span
                                    ng-bind="item.url = 'rest/upload/' + selectedLang.id + '/' + projectName"></span><br/>
                                <button type="submit" ng-click="item.upload()">upload</button>
                            </li>
                        </ul>
                    </div>
                    <div>
                        {{response}}
                    </div>
                    <img src="../../resources/img/teacher.jpg" class="img-fluid zoom" alt="Responsive image">
                </div>
            </div>


        </div>
    </div>
</div>
