<div class="generic-container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="project-editor">
                <div class="row">

                    <div class="col-3 explorer"
                         data-angular-treeview="true"
                         data-tree-id="tree01"
                         data-tree-model="roleList"
                         data-node-id="roleId"
                         data-node-label="roleName"
                         data-node-children="children">>
                    </div>

                    <div class="col-9">
                        <div class="html-text">

                            {{exerciseText}}
                        </div>

                        <div class="focused-file">
                            Editor : <span>{{focusedFile}}</span>
                        </div>

                        <editor-binder></editor-binder>
                        <br/>
                        <div ng-if="codeAccepted != undefined" class="test-response-container">
                            <hr/>
                            <div ng-class="codeResponseStyle" class="result-text">{{resultText}}</div>
                        </div>
                        <div ng-if="codeAccepted === false" class="error-response-icon">
                            <img src="../../../resources/img/warning.png">
                            <p>Error occured</p>
                            <p>Please try again</p>
                        </div>
                        <div ng-if="codeAccepted === true" class="success-response-icon">
                            <img src="../../../resources/img/check.png">
                            <p>Congrats!</p>
                            <p>You passed</p>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" class="btn orange-button" href ng-click='evalProject()'
                                        style="text-align: center;">
                                    Run Code
                                </button>
                            </div>

                            <div class="col-4">
                                <button type="button" class="btn orange-button" ng-if="lessonDisplay && codeAccepted"
                                        ui-sref="firstLesson({trackId:projCtrl.ProjectLessonDTO.trackId, lessonIndex: 1 + projCtrl.ProjectLessonDTO.lessonIndex , nextLessonType:projCtrl.ProjectLessonDTO.nextLessonType, stepIndex: 0 })">
                                    Next Lesson
                                </button>
                            </div>

                            <div class="col-4">
                                <button type="button" ng-if="!lessonDisplay&&codeAccepted" class="btn orange-button"
                                        style="text-align: center;"
                                        ui-sref="achievement">
                                    Finish Track
                                </button>
                            </div>
                        </div>


                        <div class="row">

                            <a ng-if="lessonDisplay" class="col-6 orange-link" style="text-align: center;"
                               ui-sref="firstLesson({trackId:projCtrl.ProjectLessonDTO.trackId, lessonIndex: 1 + projCtrl.ProjectLessonDTO.lessonIndex , nextLessonType:projCtrl.ProjectLessonDTO.nextLessonType, stepIndex: 0 })">
                                Next Lesson
                            </a>


                        </div>


                    </div>


                </div>
            </div>
        </div>
